__pycache__/
*.pyc
.ipynb_checkpoints/

data/raw/*
data/processed/*
data/splits/*

!data/raw/.gitkeep
!data/processed/.gitkeep
!data/splits/.gitkeep

results/*.pt

results/task1/*.pt
results/task2/*.pt
results/task3/*.pt

results/task3/ablation/*.pt

.venv